@model CadastroModel
@{
    ViewData["Title"] = "Confirmação de apagar Usuário";
}

<div class="text-center">
    <h3>Deseja apagar o contato (@Model.Name)?</h3>

</div>

<a class="btn btn-primary btn-block" asp-action="Index"  asp-controller="Cadastro" role="button">Cancelar Exclusão</a>
<a class="btn btn-danger btn-block" asp-action="ApagarConfirmar" asp-controller="Cadastro" asp-route-id="@Model.Id" role="button">Confirmar Exclusão</a>